{% extends 'base.html.twig' %}

{% block title %}Verwerk Strippenkaart{% endblock %}

{% block body %}

    <div class="columns is-desktop">
        <div class="column is-one-fifth-desktop"></div>
        <div class="column is-three-fifths-desktop">
            <div class="box">
                <p class="is-size-3 has-text-black">Zoek een gebruiker</p>
            <form>
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input is-primary" type="text">
                    </div>
                </div>
                <div class="field">
                    <input class="button is-primary" type="submit" value="zoeken">
                </div>
            </form>
            </div>
            <div class="box">
                <p class="is-size-3 has-text-black">Scan een QR-code</p>

                {# QR-scanner #}
            </div>
        </div>
        <div class="column is-one-fifth-desktop"></div>

        <div id="findUser" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <div class="modal-card-head">

                </div>
                <div class="modal-card-body">

                </div>
                <div class="modal-card-foot">
                    <div class="buttons">
                        <div class="button is-success">zoek</div>
                        <div class="button is-warning">annuleren</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
{{ encore_entry_script_tags("scan") }}
{% endblock %}
