{% extends 'base.html.twig' %}

{% block title %}Mijn Strippenkaart{% endblock %}

{% block body %}

    <div class="columns is-desktop">
        <div class="column is-2-desktop"></div>
        <div class="column is-5-desktop">
            <section class="hero">
                <div class="hero-body has-text-centered text">
                    <h1 class="title is-size-1-touch">Mijn Strippenkaart</h1>
                    <br/>
                    <p class="subtitle is-size-3-touch"><strong>Eigenaar Strippenkaart:</strong> <br/> <i id="user-email">placeholder@test.com</i></p>
                    <p class="subtitle is-size-3-touch"><strong>Aantal beschikbare strippen:</strong> <br/><i id="user-strippen"></i></p>
                    <p class="subtitle is-size-3-touch"><strong>Totaal gebruikte strippen:</strong> <br/><i id="user-used-strippen"></i></p>
                </div>
            </section>
        </div>
        <div class="column is-3-desktop">
            <figure class="image is-128x128 is-flex is-justify-content-center pt-5">
                <div id="qr-code"></div>
{#                <img id="qr-code" src="{{ asset("./images/QR-code.png") }}" height="400" width="400" type="image/svg+xml"/>#}
            </figure>
        </div>
            <div class="desktop is-2-desktop"></div>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
{{ encore_entry_script_tags("qr") }}
{% endblock %}